extends layout

block title
  title=title

block content
  .container-fluid
    br
    .row
      include links
      .col-xs-12.col-sm-4(align='center')
        br
        form(method='POST', action='/users')
          input.form-control(type="text", name="first_name", value="Charlie")
          br
          input.form-control(type="text", name="last_name", value="DiGiovanna")
          br
          input.form-control(type="text", name="email", value="cd17822@gmail.com")
          br
          input.form-control(type="text", name="password", value="password")
          br
          input.form-control(type="text", name="phone", value="6319016772")
          br
          button.btn(type='submit') Create User
          br
          br
      include pic
